<li class="span3 asset-composite">
	<a href="<%= assets_asset_type_path(asset_type) %>" class="thumbnail text-center">
		<div><%= image_tag(img_url) %></div>
		<div class="title"><%=asset_type.name%></div>
	</a>
</li>
