$("div#assetAssignmentSuccess").hide()
$("#assignAssetButton").show()
$("#assignAssetCloseButton").show()
<% if @asset_assignment.errors.any? %>
   $("div#error_explanation").html('Following validation errors prohibited this Asset assignment from being saved:<ul><% @asset_assignment.errors.full_messages.each do |msg| %><li><%= msg %></li><% end %></ul>')
<%else%>
   $("div#error_explanation").html('Asset assignment failed')
<% end %>
$("div#error_explanation").show()