/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require dataTables/jquery.dataTables
 *= require jquery.ui.core
 *= require jquery.ui.theme
 *= require dataTables/src/demo_table_jui
 *= require jquery-ui/redmond
 */



table {
	border: 1px solid lightgray;
	width: 100%
}

table.bordertable2, .bordertable2 td, .bordertable2 th{
	border: 1px solid darkgray;
}

img{
	border: 0;
}

.page-header-setting{
	margin: 0 auto;
	background:#fff;
	width: 1200px;
}

.page-footer-setting{
	margin: 0 auto;
	background:#fff;
	width: 1200px;
}

.page-content-setting{
	margin: 0 auto;
	background:#fff;
	width: 1200px;
	height: 700px;
}
